body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  /* background: white; */
  margin: 10px;
  min-width: 100px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
}

/* .card:hover {
  background-color: yellow;
  color: blue;
} */

a {
  text-decoration: none;
  color: #282c34;
  font-weight: bold;
  margin-top: 10px;
}

.smImages {
  margin: 1px;
}
.smImages:hover {
  border: 2px solid red;
  border-radius: 5px;
  /* width: 65px; */
}

.bigImage:hover {
  width: "200px";
}

.productCard:hover {
  transform: scale(1.01);
}

.check {
  animation: moveCheck 1s ease-in-out;
}

@keyframes moveCheck {
  from {
    /* height: 0px; */
    opacity: 0;
    /* width: 0px; */
  }

  to {
    /* height: 200px; */
    opacity: 1;
    /* width: 200px; */
  }
}

/* .App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.seperator {
  width: 100%;
}

.controls-wrapper {
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px violet;
}
